.classes {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/*classification*/
.classes>div {
    border: 4px solid darkgrey;
}

.classes>div>h2 {
    width: 100%;
    text-align: center;
}